[2021-03-26 10:06] liubog2008 opened #3 "What does this repo aim at?"
- A replacement of `k8s.io/kubernetes/test/e2e/framework`
- An operator test framework
- A generic e2e framework
- Others

I'm finding a e2e framework to avoid importing `k8s.io/kubernetes` in my project.

BTW: status of this repo? any future plan?

[2021-03-26 12:45] cpanato commented on #3
Hello, @liubog2008 thanks for opening this issue, let me try to answer your question and apologizes in advance if did not answer all.

The idea of this repo is to produce a framework that will make it easier for consumers to use that and not have the need to import the `k8s.io/kubernetes/test/e2e/framework` which today is hard to do.

Maybe in the future, we replace the existing k8s e2e with this

[2021-03-29 01:55] liubog2008 commented on #3
I  am interested in this repo. How to join you ?

[2021-04-14 17:53] vladimirvivien commented on #3
Please find the design doc for this repo here - https://docs.google.com/document/d/11JKqcnUOrw5Lk98f_ylJXBXyxWSW1z3CZu27OLX1CbM/edit#

[2021-05-06 02:01] #3 closed

[2021-05-06 20:12] jayunit100 opened #8 "Get Labels into examples"
Lets add the `Label` functionality into examples, i think
they arent being used in the filters properly right now...

[2021-05-06 20:21] jayunit100 opened #9 "add a client-go kube example"
just for people to borrow

[2021-05-07 12:41] cpanato opened #10 "Enable golangci-lint"
Add golangci-lint rules and prow job to run

[2021-05-07 12:41] cpanato commented on #10
/assign

[2021-05-11 06:25] ShwethaKumbla opened #11 "Typo error in function name"
Correct misspelling of function name in config_test.go file under package conf.

[2021-05-18 06:51] cpanato opened #13 "Rename the master branch to main"
This project is in the start phase, so it is good to rename the branch from `master` to `main` right away 😄

I can do that, but don't have the admin permission to do so.

@spiffxp would you mind doing this? i think you have the right permissions

cc @vladimirvivien

/kind cleanup

[2021-05-18 15:39] spiffxp commented on #13
https://github.com/orgs/kubernetes-sigs/teams/e2e-framework-admins/members

Oof yeah maybe y'all should PR yourselves into the appropriate teams in kubernetes/org. Then you should be able to press whatever buttons you need to.

As far as the process, open an issue and do the prep work as described in https://www.kubernetes.dev/resources/rename/

[2021-05-18 16:51] #11 closed

[2021-05-19 15:24] vladimirvivien commented on #13
Thanks @spiffxp

[2021-05-19 15:45] cpanato commented on #13
I will open tomorrow the PR, thanks!

[2021-05-19 16:47] vladimirvivien commented on #13
Created a PR - https://github.com/kubernetes/org/pull/2722

[2021-05-20 13:39] #10 closed

[2021-05-21 07:01] cpanato commented on #13
so now you have the permissions to make the branch change.

/assign @vladimirvivien

[2021-05-23 00:52] knabben opened #16 "have a summary on Environment object"
These default tests logs is not much helpful, it prints all tests and when you add logs gets very annoying to understand whats going on, for example:

[code]

On the other end Ginkgo, has a dump summary of my tests, something like which tests were running/failed/passed, and it's not needed to check the console for process exit status of grep around the log, an example of one used on k/k e2e:

[cod

[2021-05-24 20:12] vladimirvivien commented on #13
Thanks @cpanato

[2021-05-25 15:39] neolit123 opened #17 "support running all tests in parallel"
the k/k framework uses ginkgo which has [parallel mode (-p)](https://onsi.github.io/ginkgo/) for tests that were not explicitly defined as "parallel". this allows running the whole suite in parallel with N workers.

while tests in this framework can use t.Parallel() to opt-in into parallel execution, perhaps it would be possible to override that and run all tests in parallel, unless certain tests

[2021-05-27 12:19] jayunit100 opened #18 "Expect permutations"
Would be cool if we could do pytest style `xfails` or ExpectFails of some sort , i.e.

1) Write a test
2) be able to specify that you expect it to fail at runtime
3) pass a test suite even though some failures happened because of inputs to (2)

[2021-06-30 18:19] andrewsykim opened #21 "Context values are not propagated through Before and Setup steps"
In the Before and Setup test steps I tried to return a new context with a value based on the parent context. For example:

[code]

When I then try to access the context value from the Assess step, the value is not available. I was wondering if context values are expected to be propagated throughout the various test steps.

[2021-06-30 21:48] andrewsykim commented on #21
After digging into this some more, it seems like context propagation is only not working for the Setup step:

https://github.com/kubernetes-sigs/e2e-framework/blob/d51470ce5c383d0f801b2f95ef03b507cfd10ac0/pkg/env/env.go#L136-L139

I also added a unit test here https://github.com/kubernetes-sigs/e2e-framework/pull/22 so the behavior is more well-defined in the tests. Ideally we can update the test

[2021-07-01 14:59] andrewsykim opened #25 "Support skipping tests by labels"
I would like to skip a set of feature tests based on the labels they have.

Currently the framework supports a `--labels` flag which allows running a subset of tests by label. Maybe a similar flag like `--skip-labels` might be the right approach.

[2021-07-07 18:42] vladimirvivien opened #28 "Add design docs to repo"
The original design doc that started this project is still in Google doc. Since the design is evolving fast, the doc should be placed here to keep pace with the changes.

[2021-07-07 18:49] vladimirvivien opened #29 "Integrate klient in Test Env type"
When type `Environment` was introduced, package `klient` did not exist.  Now that we have the helper package, the Environment type should be updated to use it directly instead.

[2021-07-09 16:40] andrewsykim opened #31 "Support namespace creation/deletion per test case"
The upstream Kubernetse e2e tests follow the pattern of using a dedicated namespace per test case. This helps with resource clean up and isolation. It would be great if the e2e framework provided this mechanism automatically or via opt-in. Perhaps a single testenv or a feature of a given testenv provides an isolated namespace with a generated name.

[2021-07-12 17:19] vladimirvivien opened #32 "Simplify how Environment is created"
Now that the `klient` package has landed, the way that an `environment` is created should be revisited.  The environment type should use a `klient` value to create/keep track of internal *rest.Client value.

* [ ] Update doc with new approach
* [ ] Implement changes

[2021-07-12 17:24] vladimirvivien commented on #31
I will update the design doc to reflect this #30

[2021-07-28 15:19] #21 closed

[2021-07-28 15:21] vladimirvivien commented on #32
Fixed by #24

[2021-07-28 15:21] #32 closed

[2021-07-28 15:22] vladimirvivien commented on #29
Fixed in #34

[2021-07-28 15:22] #29 closed

[2021-07-28 15:22] vladimirvivien commented on #28
Done.

[2021-07-28 15:22] #28 closed

[2021-07-28 15:24] vladimirvivien commented on #18
Good for pointing this out. I think it's a good idea.
Future round of improvements will include features such as these.

[2021-07-28 15:27] vladimirvivien commented on #16
Thanks for the input. I debate whether or not to recreate Ginkgo features.
The goal of the e2e framework is to lean as much as possible on the built-in Go test tools.
That way, you can still use Ginkgo if you need to.

[2021-07-28 15:28] vladimirvivien commented on #17
This is a great suggestion and will be investigated in future improvement cycles.
Thanks!

[2021-07-28 15:28] vladimirvivien commented on #9
No longer applies with the fix in #34

[2021-07-28 15:28] #9 closed

[2021-07-28 18:03] vladimirvivien opened #35 "Change `env.Environment.BeforeTest` to `env.Environment.BeforeEachTest`"
Currently, the env.Environment method that registers pre-test callbacks is named `BeforeTest`. That name could be more descriptive to indicate the frequency at which that those operations, registered with the method, are executed during test execution.

By changing the name to `BeforeEachTest` test writers can clearly deduce when the test is executed during framework execution as shown in the foll

[2021-07-28 18:11] vladimirvivien opened #36 "Change `env.Environment.Test` to execute feature sets"
Currently, method `env.Environment.Test` can only test one feature at a time:

[code]

As a test writer, I would like for `env.Environment.Test` to be able to test a feature set consisting of one or more features as shown:

[code]

[2021-07-28 18:17] vladimirvivien opened #37 "Introduce `env.Environment.BeforeEachFeature` and `env.Environment.AfterEachFeature`"
After https://github.com/kubernetes-sigs/e2e-framework/issues/36, it would be nice to introduce a pre- and post- operation hooks for feature tests named `BeforeEachFeature` and `AfterEachFeature`. These lifecycle hooks would get executed in the order shown

[code]

[2021-07-29 10:39] vladimirvivien opened #39 "Provide a `envconfig.Config` method to inject a client from kubeconfig file."
The example here reveals the multi-steps necessary to create a klient.Client from a kubeconfig file and then inject that client into the environment's configuration.

https://github.com/kubernetes-sigs/e2e-framework/blob/0402e818c25b73fb4a7c896a9ac5008d3dc06a18/examples/k8s/main_test.go#L52

It would be nice if the `envconf.Config` type provided a method to handle the injection of the client in on

[2021-07-29 14:11] vladimirvivien opened #40 "Add more examples"
We should add more examples showing:

* [ ] How to create/manage multiple API server client connections
* [x] How to use klient package stand-alone tests (no harness frameworks)
* [ ] How to use test framework with Testify assertion framework
* [ ] How to use test framework with Gomega  assertion framework
* [ ] How to use klient package with another test harness framework like Ginkgo (maybe, ?)
*

[2021-08-20 21:02] vladimirvivien opened #42 "Avoid sharing *testing.T during feature execution context"
Currently when `Environment.Test(...)` is called from with a test function as shown below:
[code]
Only one instance of `t` passed around from feature to feature.  This can cause issues such as early termination of feature test.  A better approach is to create a new `*testing.T` for each feature. That way if a feature fails, the rest of the feature execution continues (within the same Test function

[2021-08-23 06:12] ShwethaKumbla opened #43 "BuildFromJSON function support"
Json input encoding decoding implementation needs a think through to support any kind of k8s object structure parsing.

[2021-08-23 07:23] cpanato commented on #13
/remove-lifecycle stale

[2021-08-23 15:28] #39 closed

[2021-08-24 10:03] #35 closed

[2021-08-24 10:03] #36 closed

[2021-08-24 10:03] #37 closed

[2021-08-24 12:12] vladimirvivien commented on #13
Thanks @cpanato

[2021-08-26 16:00] vladimirvivien opened #47 "More documentation"
Proper documentation is needed to walk user/adopter through:

* Getting started
* Different test suite scenarios (starting with kubeconfig, generate kubeconfig, using kubetest2, etc)
* Testing built-in objects
* Testing custom resources
* Mixing with other framework
* Etc

[2021-08-30 14:43] vladimirvivien opened #49 "Execute test features in parallel"
Currently all tests are executed serially. This issue is to request that the framework also support parallel test execution.

### Feature testing
A feature is considered to be a unit of testable logic in the code. As such, the step functions, that make up a feature, should always be executed in serial as a unit.  This guarantees predictable execution flow and predictable context propagation.

[cod

[2021-09-04 15:05] knabben commented on #16
Thanks for clarifying it.

/close

[2021-09-04 15:05] #16 closed

[2021-09-09 12:12] aledbf opened #50 "Question about test package layout"
The examples in the repository only use one package (main) to contain `main_test` and the go files containing the tests.
What would be the suggested approach to use multiple packages?

from
[code]

to
[code]

In godog this is explicit, using `InitializeScenario`

[2021-09-13 16:34] jayunit100 opened #51 "structured data output"
@perithompson would like to dump YAML From table tests such as the https://github.com/K8sbykeshed/k8s-service-lb-validator/  frameowrk, could we do something like:

[code]

[2021-09-17 14:16] vladimirvivien commented on #50
@aledbf apologies for the late reply (this did not come up in my notifications).

This project leans on Go's testing framework and tools (in the stdlib) for features which means each package is tested separately. Having said that, I am not sure if using `TestMain` supports nested packages.  If it does, then your proposal would work.

I am not familiar with godog.  It looks like it provides its own

[2021-09-17 14:21] vladimirvivien opened #56 "Flags support seems broken when test binary generated"
The framework is designed to work with or without flags. As such flags are not parsed early to avoid forcing test writers to deal with unnecessary CLI flag parsing.  However, it seems that flags are broken when binary is generated.

[code]

When the binary is executed, it generated an error:

[code]

[2021-09-17 14:24] aledbf commented on #50
@vladimirvivien thank you for the response. I end up having one TestMain per package. One of the downsides is you end up with multiple binaries (`go test -c`). If you just run the tests works just fine.
Thanks!

[2021-09-17 14:24] #50 closed

[2021-09-29 11:03] ShwethaKumbla commented on #56
https://github.com/kubernetes-sigs/e2e-framework/blob/5ae53752fa86bf5a00b5ca32ce877c9c4e6cd277/pkg/envconf/config.go#L80
This is the culprit here. Even though kind cluster is not required for the example written still the above code tries to connect with k8s cluster.

Even for k8s related tests before creating cluster itself `envconf.NewFromFlags()` will  try to make a k8s client connection which

[2021-10-03 21:22] #8 closed

[2021-10-08 16:35] johnSchnake opened #58 "New env should default to in-cluster config"
When doing a simple API call example I had to do the following:
[code]
I would have expected `e := env.New()` to use a default in-cluster config or something but I got a panic.

If I did something wrong let me know, but otherwise I think a tweak should be made to avoid those 4 extra lines of boilerplate, in-cluster-config setup.

[2021-10-08 16:37] johnSchnake opened #59 "AfterXXX hooks should have access to the object in question"
For example, `AfterFeature` currently provides a hook that knows about the env but not the feature itself.

In hooks like this in the k/k framework, this is where we would tie into for things like custom logging solutions and even the Sonobuoy progress updates.

I think the signatures should be modified to have more info available to the caller. Even in `BeforeXXX` it would be reasonable to want t

[2021-10-08 16:46] vladimirvivien opened #60 "Introduce support for Waiting for given cluster conditions"
As a test writer of components running on Kubernetes, it would be extremely useful to have the capability to wait for one or more cluster conditions before proceeding in the test.

### A framework for Waiting
A new package `klient/wait` could be the starting point for an API to express conditions for waiting by leveraging the `wait` package in API machinery "k8s.io/apimachinery/pkg/util/wait"):

[

[2021-10-08 21:33] johnSchnake opened #61 "Create example with per-test namespaces"
Talked about in TGIK 170; each test often needs its own namespace but its not completely trivial where/how to define it in order for each test to have a unique NS and them to be cleaned up appropriately.

[2021-10-08 21:41] johnSchnake opened #62 "Dry run"
Supply a dry-run flag so we can check which tests would be run given the current flags.

[2021-10-14 01:02] johnSchnake opened #66 ""kind not found" multiple times"
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_e2e-framework/48/pull-e2e-framework-test/1448290471733366784 is an example where even when tests were passing, kind was being installed multiple times. Something must be wrong with how kind is installed/checked for.

[2021-10-14 01:53] johnSchnake opened #67 "Prow issue where kind clusters are surviving into new test runs"
See https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_e2e-framework/63/pull-e2e-framework-test/1448431533592416256#1:build-log.txt%3A50

Just one cluster has been created, but when listing clusters there are numerous others already there.

These must have come from other runs.

May be related to #66 if it is an issue with how the hosts and being used.

[2021-10-14 10:29] dims commented on #67
@johnSchnake isn't it being created here? https://github.com/kubernetes-sigs/e2e-framework/blob/main/klient/k8s/resources/main_test.go#L96

[2021-10-14 11:47] johnSchnake commented on #66
https://github.com/kubernetes-sigs/e2e-framework/issues/67#issuecomment-943279779

[2021-10-14 11:52] johnSchnake commented on #67
https://medium.com/@xcoulon/how-to-avoid-parallel-execution-of-tests-in-golang-763d32d88eec describes exactly the same issue; tests werent in parallel but go was running packages in parallel causing racy behavior.

This also explains why I can't repro locally (different GOMAXPROCS set I'm assuming)

Should get a fix for this soon if all I have to do is change `-p 1`

[2021-10-14 15:35] #66 closed, assigned to nobody

[2021-10-14 15:35] #67 closed, assigned to nobody

[2021-10-19 17:29] #58 closed

[2021-10-27 18:53] #59 closed, assigned to nobody

[2021-10-27 18:54] #61 closed, assigned to nobody

[2021-10-27 20:44] johnSchnake opened #69 "FeatureInfo issues"
FeatureInfo was added so that we could us the featureinfo in the before/after hooks.

This was all well and good but the examples happened to not test the before/after features and only did the before/after tests as an integration level.

The result of this was that we didn't realize that the FeatureInfo type was put under the `internal` package. This means when someone tries to actually use these

[2021-11-03 13:46] #69 closed

[2021-11-03 21:33] helayoty opened #72 "Support KinD cluster with Config"
Add  new functionality to be able to create KinD cluster using image and config file.

[2021-11-03 21:33] helayoty commented on #72
/assign @helayoty

[2021-11-03 21:34] helayoty commented on #72
/label feature

[2021-11-04 14:57] vladimirvivien commented on #60
@harshanarayana I missed that ping. Sorry.

[2021-11-05 21:44] #72 closed

[2021-11-09 17:13] harshanarayana commented on #60
No worries @vladimirvivien Let me open a PR with some prototype for a feedback.

[2021-11-11 09:48] harshanarayana commented on #60
@vladimirvivien I have opened a draft PR for the same. Hope the changes in there matches with what you had in mind for this behavior.

[2021-11-17 15:08] knabben opened #75 "Arguments not recognized"
We are using E2E 0.0.4 on https://github.com/K8sbykeshed/k8s-service-lb-validator

I'm using `go test ./... -args --skip-labels="type=cluster_ip"` to skip tests with this label, but receiving the following error:

[code]

Wondering if some wrong bootstrap in our codebase.

[2021-11-18 16:53] knabben commented on #75
missed the correct configuration from  the example: `cfg, err := envconf.NewFromFlags()`, this should fix the issue

[2021-11-18 16:53] #75 closed

[2021-11-19 05:07] harshanarayana opened #77 "Logging Infra"
Opening this issue with reference to the discussion from https://github.com/kubernetes-sigs/e2e-framework/pull/73#discussion_r752791925

In order to ease the controllability of the logging format and level across the framework, we need a way to control the logging at the framework level that can be inherited into each component of the framework.

It would be great if the verbosity could be control

[2021-11-19 16:16] #60 closed

[2021-11-19 17:29] harshanarayana opened #78 "Add Documentation for wait/Conditions"
Opening this item to track the comment suggested by @vladimirvivien  under https://github.com/kubernetes-sigs/e2e-framework/pull/73#issuecomment-974213738

The `sigs.k8s.io/e2e-framework/klient/wait` needs an example under the [examples](https://github.com/kubernetes-sigs/e2e-framework/tree/main/examples) folder and a `README` added to explain what the tests are doing.

[2021-11-24 16:40] vladimirvivien commented on #42
/remove-lifecycle stale

[2021-11-28 13:59] vladimirvivien opened #81 "`klient` design doc missing code higlight"
The documentation for the `klient` design does not show code color highlight in GitHub markdown.

[2021-11-28 16:38] #25 closed

[2021-11-29 19:42] vladimirvivien commented on #49
/remove-lifecycle stale

[2021-11-29 19:44] vladimirvivien commented on #47
/remove-lifecycle stale

[2021-11-30 18:11] helayoty opened #83 "Support Helm chart"
As a test writer, I should be able to deploy `helm` charts.

# Design

The framework should provide a type that allows test writers to install `helm charts`

[code]

Type Helm should also include a method to install the helm chart

# Example

[code]

[2021-12-01 15:09] jpmcb opened #86 "Upgrade controller-runtime to latest version"
I noticed that the version of controller runtime used is [`v0.9.0`](https://github.com/kubernetes-sigs/e2e-framework/blob/main/go.mod)

Is it possible to bump this to a latter version of controller runtime? It seems that `v0.9.0` of controller runtime uses an older version of spf13/cobra which has a few security vulnerabilities (which aren't actually ever executed)

Happy to open a PR! Thanks much

[2021-12-01 16:45] #77 closed

[2021-12-01 22:21] #81 closed

[2021-12-02 06:04] harshanarayana commented on #49
@vladimirvivien Please assigning this one to me if someone is not already working on this? Let me make a PR with a prototype of this for review.

[2021-12-02 18:45] vladimirvivien commented on #51
Could this be handled with the `-json` output from the `go test` command ?

[2021-12-02 18:59] vladimirvivien opened #89 "Table-driven tests"
While creating example tests, I came to the realization that using table-driven tests would be useful to be used with the framework. While the framework provides a nice and structured way of encapsulating assessments, it turns out that a table-driven versions of would be more useful when testing multiple cases of the same functionality.

As a test writer, I should be able to represent my assessmen

[2021-12-06 16:25] harshanarayana commented on #83
@helayoty I opened a quick POC of the changes to enable Helm support for the e2e-framework. Please let me know if you are already working on it and I will be happy to close up my PR if you have started working on this already.

[2021-12-06 16:28] harshanarayana commented on #83
I made the support helper a little more generic and to do now just install but a simple way to wrap all commands for helm.

[code]

We can also write a simple wrapper to help few generic command with much simpler way to access as well. This way, one can do most of the workflow centric to helm in their test using the same framework helpers. Is this inline with what you thought about ?

cc @vladimir

[2021-12-06 19:46] vladimirvivien commented on #83
This is interesting.
My one suggestion is that helm shoul be kept in a package that clearly indicates it's not part of the core functionality.  Possibly introduce package `third-party/helm`.

I will add review comments on the PR directly.

[2021-12-07 05:42] harshanarayana commented on #83
@vladimirvivien  I kept the `helm.go` under `support/helm` like we did with `support/kind` but moving that to `third_party/helm` might be a good idea too. Makes the integration with other tools easier in the future. And if we do, should we define a standard interface through which we can introduce these new tool integration or is that too much of an expectation to start with and can be done at a l

[2021-12-07 22:55] k8s-triage-robot opened #91 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-08 04:28] justaugustus commented on #91
Thank you for creating a SECURITY_CONTACTS file. Please `/close` the issue.
/close

[2021-12-08 04:28] #91 closed

[2021-12-08 22:56] k8s-triage-robot opened #92 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-09 03:04] justaugustus commented on #92
This issue may have been opened in error due to a bug in the logic for discovering SECURITY_CONTACTS files.
For more information, please see this notice to [kubernetes-dev](https://groups.google.com/g/kubernetes-dev/c/yFlPFIYJCt8).

As this has [re]opened multiple issues across Kubernetes orgs, I will not attempt to answer comments on individual issues.
Feel free to reply to the linked kubernetes-

[2021-12-09 03:04] #92 closed

[2021-12-10 03:36] helayoty commented on #78
/close

[2021-12-10 03:46] helayoty opened #93 "Support kubectl most used commands"
As a test writer, I should be able to run `kubectl` command i.e. apply, exec, log,...

# Design

The framework should provide a way to be able to run YAML files to deploy different k8s types (deployment, etc...)

# Example

[code]

[2021-12-10 19:19] harshanarayana opened #94 "Feature Builder doesn't support adding Step by name"
The `feature` builder has a nice set of API exposed to be able to build setup and tear down methods.  But they auto generate the name of the step that is being run.

[code]
However, this can be a bit of a problem to debug things. There is a really useful builder method called `WithStep` that can let you customize the name of the step. However, the argument used `level` used for this is coming from

[2021-12-10 20:03] #89 closed

[2021-12-13 12:12] ShwethaKumbla commented on #43
/remove-lifecycle stale

[2021-12-14 16:57] harshanarayana commented on #78
Changes were addressed in #79

[2021-12-14 16:57] #78 closed

[2021-12-20 07:04] ShwethaKumbla commented on #49
/remove-lifecycle stale

[2021-12-21 22:26] helayoty opened #96 "Wait returns exception without tearing down the KinD cluster if time-out occurs"
A goroutine occurs while using `wait.For(conditions.New(client.Resources()).ResourceMatch(&resultDeployment, func(object k8s.Object) bool {}`
Also, the `teardown` in the feature step and `Finish` in the main step didn't execute when this error happened.

The function I tried to run:

[code]

Error:  Uploaded [here](https://gist.github.com/helayoty/7d6f152d3f685c791c7040f463cf4494)

Type: Bug
Versi

[2021-12-25 17:03] #17 closed

[2021-12-25 17:03] #18 closed

[2022-01-10 15:51] crandles commented on #96
I think you are seeing the output of a stack trace triggered by `go test`'s default timeout (`go test -timeout 10m`).

[code]

[code]

It does not look like any panic recovering is happening internally that would allow completion of teardown/Finish functions. Though I am not sure if it would be appropriate to execute teardown steps after a panic.

[2022-01-11 09:04] ShwethaKumbla opened #97 "k8s resource watcher implementation"
K8S object watchers are great functionality provided by k8s to get efficient change notifications on resources.
The events supported by these watchers are
1. ADD
2. MODIFY/UPDATE
3. DELETE

The idea here is to make developer implementation easier. Without knowing the resource core type of k8s objects they have to just register their actions/functions for respective watch events using the provision

[2022-01-12 10:59] dhadukk opened #98 "Provide a flag to skip running the Finish function"
In order to debug the failed tests, sometimes there is a need to skip running the finish function.

for example, create a cluster in the setup function and delete it in the finish function.
If any of the tests are failing and run logs are not sufficient to root cause the issue, we may need to skip running the finish function so that one can log in to the live problematic cluster and troubleshoot t

[2022-01-12 11:03] Madzee opened #99 "Fail fast approach when running multiple test functions in a test package"
Provide a flag during test execution to  exit execution on the occurrence of first test failure.
Example : If the test package had 5 test functions, and the 3rd test function were to fail, the flag would allow the execution to exit at this point without running the remaining tests.

[2022-01-13 20:20] helayoty commented on #93
duplicate with #43

[2022-01-13 20:20] #93 closed

[2022-01-14 18:48] #49 closed

[2022-01-14 23:31] helayoty commented on #97
I'd like to help implementing this feature if this is possible.

[2022-01-20 07:22] harshanarayana commented on #62
@johnSchnake  Are you still looking into this or I am free to take this up ?

[2022-01-20 13:57] johnSchnake commented on #62
You can take it up; I don’t have the cycles right now.

Sent from my iPhone

[2022-01-20 19:57] johnSchnake commented on #51
FWIW I just did a basic structured output in the afterEachTest section. Just writes the test name and pass/fail. Gives at least some basic structure to that data and you can dig into the larger tables manually still.

[2022-01-20 19:59] johnSchnake commented on #62
As a side note for this, my hope would be that this work would also enable the total number of tests to be run to be determined before any run.

This is important when sending progress updates so you can say things like: 3/99 tests completed. Otherwise you have no knowledge of how many tests will end up being targeted.

Ginkgo makes this available in a `suiteWillBegin` hook; hopefully we can get t

[2022-01-20 20:44] johnSchnake opened #100 "Before/after feature referencing an internal type"
I thought this got resolved but maybe I'm misremembering?

I'm trying to use this with afterEachFeature hooks but it refers to a Feature which is just defined as an internal type.

https://github.com/kubernetes-sigs/e2e-framework/blob/7c2fa1bd7bc3fa84f865b2861d87b99456824861/pkg/internal/types/types.go#L60

Need to expose a type so that callers can actually utilize this. Otherwise when they try an

[2022-01-20 22:22] johnSchnake commented on #100
I think this was a mistake; there is also a `pkg/features.Feature`

[2022-01-20 22:22] #100 closed

[2022-01-20 22:24] johnSchnake opened #101 "Question: Can features pass/fail?"
I was working on a plugin for someone and they have multiple features run in a single go test.

As a result, AfterEachTest gets hit only 5 times despite having 12 features.

What I'd like to do is be able to say `AfterEachFeature` (which I can do) and record each of those myself as a separate test result. However, there is nothing explicitly about pass/fail/skip status of the Feature type.

Is the

[2022-01-20 22:35] vladimirvivien commented on #51
@johnSchnake that is great.
I looked at the code (link you provided).
It got me thinking maybe it is worth exploring metrics collection and structured output.
There's probably a package out there (OpenMetrics, Promethues, maybe)

[2022-01-20 23:24] #83 closed

[2022-01-21 06:34] harshanarayana commented on #62
@johnSchnake  Sounds good. Let me put up a draft PR with the changes so that you and @vladimirvivien  can confirm if it is on the right path. Thanks

// H

[2022-01-21 15:26] harshanarayana commented on #62
@johnSchnake  Do we want to consider each assessment as a test and provide a `current/totalCount` output or the same output for `Testxxxx` of `testing.T` instead ?

`testing` package as far as I remember does not expose any public methods that we can use to get the total number of tests that are under `testing.M`. It has a private entity though.  It has a very handy `listTests` but that is private

[2022-01-21 15:39] johnSchnake commented on #101
I wonder if the right approach is to not change a feature to have pass/fail since this would potentially require more upkeep to fail tests and features separately.

Instead, on the before/after features, we should also pass the `*testing.T` so that you can see if the test has yet been failed. This would mean that when testing feature A,B,C in the same test, if A fails the test then B and C would a

[2022-01-21 16:13] johnSchnake commented on #62
So I think this is one possible complication because different people may consider different things 'tests'.

Some people may see each `TestFoo` as a test, but each of those can include multiple features. Each feature may have multiple steps.

Ideally we could surface each of these but that definitely makes it harder. But now we do have the ability to filter tests based on test name and feature ta

[2022-01-21 17:13] harshanarayana commented on #62
@johnSchnake  All right. I do like that idea. Let me get that changes sorted.

The other complication comes like you mentioned in #101  with `TestInParallel` when it comes to tracking the completed tests/features/assessments. Do we have a preference on how we want to track the number of completed items for corresponding bucket ?

[2022-01-21 19:32] johnSchnake commented on #62
I think the parallel issue doesn't bother the counts much; it makes it a bit unpredictable which will finish when, but otherwise if you keep incrementing the counts `AfterEachFeature` or `AfterEachTest` you'd be fine.

[2022-01-21 21:23] #101 closed

[2022-01-21 21:29] johnSchnake opened #103 "Expose *testing.T to StepFuncs/Assessments"
I am wondering if something similar is needed for `StepFunc` where Assessments receive a copy of the currently executing `testing.T` context.

_Originally posted by @vladimirvivien in https://github.com/kubernetes-sigs/e2e-framework/pull/102#discussion_r789999326_

[2022-01-25 22:23] helayoty opened #104 "support Cluster-API"
support helper for cluster API

[2022-01-28 21:08] #47 closed

[2022-01-31 05:33] ShwethaKumbla commented on #97
/assign

[2022-02-02 15:58] vladimirvivien commented on #86
@jpmcb Happy to receive a PR if you 've got the bandwidth 😄

[2022-02-02 16:10] vladimirvivien commented on #94
@harshanarayana Thanks for bringing that up.

Right now the api supports very specific sets of steps
* Assessment
* Setup
* Teardown
* (might be one more)

Some of the pre-baked steps above do have auto-generate names (except Assessment).  This is because the internal method `FeatureBuilder.WithStep` requires a name.  The reason `WithStep` is hidden is because each step type, specified by Level (i

[2022-02-02 16:10] vladimirvivien commented on #43
I think this can be closed @ShwethaKumbla

[2022-02-02 16:12] vladimirvivien commented on #96
@helayoty do you still feel this is bug ?

[2022-02-02 16:17] vladimirvivien commented on #98
@dhadukk thanks!

I think what you are asking is a way to fail fast in some situations.  That way the test runtime will not reach `Finish` steps and avoid any clean up.

### Workaround
Until that is implemented, one workaround would be to store a value in the context (say, `completed`).  Then only run your specified `Finish` if completed is `true`, otherwise skip completion.

[2022-02-02 16:20] vladimirvivien commented on #99
@Madzee I think this is similar to issue #98

This is definitely something that would be useful.

[2022-02-02 16:22] vladimirvivien commented on #104
@helayoty
Can you elaborate on how you would like to see Cluster-API supported ? Is it:
* Management cluster awareness
* Managed cluster awareness
* Ability to reach managed cluster automatically via management cluster
* Etc

[2022-02-02 18:05] cpanato commented on #86
I can work on that tomorrow if that is fine

[2022-02-07 04:40] harshanarayana commented on #62
Sorry, been a bit behind on this PR. Will have this ready for review by EOW.

[2022-02-07 04:44] harshanarayana commented on #94
@vladimirvivien  I see what you mean.
I do like the idea of extending the feature API to provide additional option to be able to provide step names. Makes it a bit more readable and easy to debug. Let me have a Draft PR opened on this for review.

[2022-02-07 12:01] divmadan opened #108 "multi-line string: `klog.InfoS` prints ASCII escape characters; `klog.Info`, `klog.InfoS` has anomalies"
[Release v0.0.5]

For variable `output`:
[code]

1. `klog.InfoS` prints ASCII escape characters (`\x1b`) for value string in key-value pairs.

    - `klog.Info("output", output)` prints (desired):
[code]

    - `klog.InfoS("", "output", output)` prints:
[code]

2. `klog.Info` is removing other arguments and not printing logging info in case another argument of multi-line string is present.

    -

[2022-02-08 17:00] #86 closed

[2022-02-09 07:03] dhadukk commented on #98
Hi @vladimirvivien
Thank you for suggesting the workaround.
If I understand it correctly, I can save one variable in contaxt called _completed_ which is common for all the _feature sets(test functions)_. Before each test I should do completed=false and aftereachtest completed=true. Finish should execute only if completed=true.

[2022-02-09 12:46] ShwethaKumbla commented on #104
@helayoty
Is this helper func for custerctl like we have helper package for CRUD operations of k8s resources ?
If so I could explore [this](https://cluster-api.sigs.k8s.io/clusterctl/commands/commands.html) and come with initial draft PR.

[2022-02-09 12:50] ShwethaKumbla commented on #108
@divmadan This issue is related to klog so I would suggest to raise this [here](https://github.com/kubernetes/klog)

[2022-02-09 18:57] helayoty commented on #104
@vladimirvivien  & @ShwethaKumbla

The idea for being able to support `Cluster API` is to spin up a `kind` cluster, install cluster API cli on it and then have a helper func for `clustercli`. Also, add a sample on how to use it with a couple of providers.

[2022-02-09 18:58] #96 closed

[2022-02-11 00:19] crandles opened #109 "Add example of how to test a kubebuilder project"
kubebuilder leverages [envtest](https://book.kubebuilder.io/reference/envtest.html) in the test suite it generates with its scaffold infrastructure for creating kubernetes controllers. `envtest` is not a full kubernetes cluster, so some complex controller implementations are unable to be tested using the tooling without mocks.

The existing envtest has a basic usage that should be easily supported

[2022-02-14 23:26] vladimirvivien commented on #98
@dhadukk Yes, hope this made sense.
This would be a workaround until we can figure out a better way.

[2022-02-15 04:42] dhadukk commented on #98
Thank you @vladimirvivien  This make sense.

[2022-02-15 07:08] dhadukk opened #111 "E2E framework does not supported with GKE."
Our CI pipeline on GKE is failing with error ,
panic: envconfig: client failed: no Auth Provider found for name "gcp"
log link : https://runway-ci.eng.vmware.com/teams/mdogra/pipelines/gke-e2e/jobs/e2e-testsuite/builds/8.

In order to fix this, _import "k8s.io/client-go/plugin/pkg/client/auth/gcp"_ needs to be added.

I am happy to contribute to the project and fix this, but I am not sure which fi

[2022-02-15 08:57] harshanarayana commented on #111
Did you try adding an import for this in your test code itself right before you invoke the e2e-framework handlers ? (This should get things working for you to unblock your workflow)

[code]

There are a few different [auth plugin](https://github.com/kubernetes/client-go/tree/master/plugin/pkg/client/auth/) handlers that are provided by client-go by default  other than `gcp`

But looking at the cod

[2022-02-15 10:56] divmadan opened #112 "[query/bug] mark testcase as failed and stop execution when `t.FailNow()` is encountered in an assessment"
[Release v0.0.5]

I have a requirement to stop the testcase execution if certain assertions during the course of the testcase fails. I thought that we could control this behaviour by using [t.FailNow](https://pkg.go.dev/testing#T.FailNow) but it just marks that assertion as `FAIL` (thus behaving as [t.Fail](https://pkg.go.dev/testing#T.Fail)) and continues execution at the next assertion/feature.

[2022-02-15 12:25] harshanarayana commented on #112
Did you try using `-failfast` arg with the `go test` ?

[code]

[2022-02-15 15:02] vladimirvivien opened #113 "Automate release with GitHubActions"
Create GitHub Actions + Go releaser to automate releases.

[2022-02-15 15:13] vladimirvivien commented on #112
Thanks for pointing this out. There is definitely a need to revisit the way the test context `testing.T` is managed internally with respect to features.  Since features are like sub-tests, the parent test context (from the test function) is not affected, causing features test to not fail when expected.

For now, try the workaround from @harshanarayana mentioned.  We will investigate a better appro

[2022-02-15 15:19] cpanato commented on #113
@vladimirvivien can i take this one?

[2022-02-15 15:52] vladimirvivien commented on #113
@cpanato sure thing.

[2022-02-15 17:22] vladimirvivien opened #114 "Constructor packages for building Kubernetes API workload objects"
Constructing a graph for Kubernetes objects require tedious steps of specifying each entries in the graph. Often, this forces and requires the code writer to have to look up how to assemble the pieces so that the graph can be constructed properly.

For instance, the following code snippet shows how to programmatically create an object graph for a simple `Deployment`. As you can see, it takes many

[2022-02-15 17:30] divmadan commented on #112
@harshanarayana @vladimirvivien

Thanks for the prompt response.

`failfast` leads to exit of the whole suite. I still want to continue executing the other testcases, only I want the failing testcase to exit.

Adding to the above example,

[code]

Here, when `TestExample/fail-feature` fails, I want the testcase `TestExample` to fail and stop execution only for it. I still want to execute the upcom

[2022-02-15 18:04] vladimirvivien commented on #111
I think third party auth libraries such as gcp and azure and others should be explicitly added by the test writer.  The framework should not be automatically load these libraries as each use case may be different.

@dhadukk please let us know if adding the package import yourself works for you. If not, let us know why what we can do to help.

[2022-02-16 07:38] dhadukk commented on #111
Thank you @vladimirvivien and @harshanarayana
I will add the import in testfile itself and update here.

[2022-02-16 13:16] vladimirvivien commented on #112
@divmadan this is great. Thank you for the great explanation and I think you are correct. The failing assessment should stop without taking down the entire test suite or even the entire TestFunction where it is embedded.

I am going to mark this as an important bug so that it gets the attention it deserves.

[2022-02-16 13:24] vladimirvivien commented on #109
@crandles this would be awesome.
I vote for an envfunc (maybe in the third_party directory, since kubebuilder is external)

[2022-02-16 15:55] divmadan commented on #112
@vladimirvivien

Agreed.

***

In my case, there's still a requirement to exit the test function as the features are dependent on their predecessors.

As you mentioned that the features are like sub-tests, I'll assume that you are leaning towards failing a feature when a `t.FailNow()` is encountered within an assertion. In that case, I'll still need another way to control the behaviour of the enti

[2022-02-16 16:50] cpanato commented on #113
/assign

[2022-02-17 08:19] #113 closed

[2022-02-18 04:54] dhadukk commented on #98
Hi Vladimir, We have not implemented this logic as every time something fails, we can not afford to clean up manually.
Currently, if something fails and if we want to debug the failure we manually comment the finish function and skip the cleanup. Thank you.

[2022-02-19 14:28] #40 closed

[2022-02-21 04:46] dhadukk commented on #111
Fix added in the test file. It works fine. Thank you.

[2022-02-21 17:05] harshanarayana commented on #112
@vladimirvivien  @divmadan

With a few minor changes to the framework code, I was able to get the following behavior as intended.

[code]

However, this brings up a few questions about how do we go around to getting this in

1. Can we expose a `t.FailNow` like construct from `feature` that is passed around to the assessment that can be used to explicitly fail the feature as a whole ?
2.  Do we exp

[2022-02-21 17:18] harshanarayana commented on #103
[Don't we already have support for this ](https://github.com/kubernetes-sigs/e2e-framework/blob/319e09e8b645bfbae7fc332a32588882e693c813/pkg/internal/types/types.go#L111)? Or did I misread the requirements of this ?

`type StepFunc func(context.Context, *testing.T, *envconf.Config) context.Context`

[2022-02-21 17:46] johnSchnake commented on #103
I think you're right; in the context it was raised it was about pre/post hooks, but his comment does seem to be just about the step funcs.

Those stepfuncs are exposed as 'Func' types which are then the 'fn' field for all the steps.

@vladimirvivien calls `assessments` out specifically but those definitely get the testing.T value (https://github.com/kubernetes-sigs/e2e-framework/blob/main/examples

[2022-02-21 19:10] harshanarayana commented on #112
Added a draft PR of what I did to help the disucssion of this thread.

[2022-02-21 19:24] harshanarayana commented on #99
xref: #112

[2022-02-28 19:42] #111 closed

[2022-02-28 19:45] vladimirvivien commented on #42
/remove-lifecycle stale

[2022-02-28 19:52] vladimirvivien commented on #103
@harshanarayana @johnSchnake
I think both you are are correct, it's already being done. Assessment (StepFunc) are getting *testing.T. I may have confused myself at the time.

[2022-02-28 19:54] vladimirvivien commented on #98
@dhadukk we are actively looking at this to provide and escape hatch if something goes wrong.  See https://github.com/kubernetes-sigs/e2e-framework/pull/118

[2022-03-09 22:19] vladimirvivien commented on #62
/remove-lifecycle rotten

[2022-03-16 12:41] dapdelivery opened #119 "TestInParallel feature not working as expected"
Although the features are getting executed in parallel, but the assess written within those features are getting mixed up with other features in parallel execution.

e2e-framework version used: **v0.0.6**

**Ex:**
Feature1 -> assess1
Feature2 -> asses2
When we try to run them parallel, it executes the following
	feature1 -> assess2
	feature2 -> assess2

**Sample code:**

//go:build all || dummy

p

[2022-03-16 13:13] ShwethaKumbla commented on #119
Thanks for filing the issue @dapdelivery. We will look into it.

/cc @harshanarayana

[2022-03-16 13:57] harshanarayana commented on #119
[code]
Goofup on my part here. Need a

`feature := feature` in the loop

[2022-03-23 19:57] #94 closed

[2022-03-28 08:39] harshanarayana opened #122 "Flaky Test Setup due to `kind` Setup"
Seems like we are running into a few issue with the Patchset jobs due to the way we are installing kind with `go1.17`

[code]

This blocks the PRs from getting merged.

xref: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_e2e-framework/120/pull-e2e-framework-test/1507437780685295616/build-log.txt

https://kind.sigs.k8s.io/docs/user/quick-start/#installing-with-go-ge

[2022-03-31 16:18] Lxrdknows77 opened #124 "Add example related to get access real k8s cluster"
All examples regarding work with cluster related to creating kind cluster in Setup. But can you also add at least 1 example how to use it with KUBECONFIG file because it's not clear. Thanks.

[2022-04-01 09:13] Lxrdknows77 commented on #124
I figured it out, but still not clear there is some alternative to get config or create env from $HOME/.kube/config ?
Something like `config.GetConfig()` from **"sigs.k8s.io/controller-runtime/pkg/client/config"** package.

[2022-04-05 13:29] johnSchnake opened #126 "Register cluster API types"
When trying to interact with clusterAPI objects like:
[code]
you get the error
[code]

We should register clusterAPI types by default in the library since this is a common (and great) use case.

[2022-04-05 19:51] johnSchnake commented on #126
Duplicate of #104

[2022-04-05 19:51] #126 closed

[2022-04-05 19:54] johnSchnake commented on #104
I just created a duplicate issue. I think the main thing is that we just register the types so that you can use `klient` on those types as well. Currently you get a problem with the scheme not knowing about those types.

I'm working on implementing that now but the test cluster itself needs to have those types installed too. Going through that now we we can know it works as intended.

[2022-04-05 21:35] johnSchnake commented on #104
I've got it nearly ready; I've gotten the types registered, clusterctl installed, etc. However, as I kept testing I hit https://github.com/kubernetes-sigs/cluster-api/issues/2450. I just found the issue just 1s ago and haven't had time to read it or implement the fix. PR probably tomorrow for this.

[2022-04-06 09:56] ShwethaKumbla commented on #43
Closing as this been already addressed.https://github.com/kubernetes-sigs/e2e-framework/pull/87

[2022-04-06 09:56] #43 closed

[2022-04-06 12:35] harshanarayana commented on #124
Did you try using the `ResolveKubeConfigFile()` helper ?

[code]

xref: https://github.com/kubernetes-sigs/e2e-framework/blob/cd133e286ac7059c7743561cb6441542d60674f4/klient/conf/config.go#L67

[2022-04-06 12:50] #124 closed

[2022-04-06 12:52] Lxrdknows77 commented on #126
I solved it by adding <NewKind>.AddToScheme(scheme.Scheme)

[2022-04-06 13:09] johnSchnake commented on #126
Yea; I want to make sure its just a non-issue for those going forward. Its frustrating because that one line is pretty much all you need to do to make it work, but to test it you have to get clusterctl and run `clusterctl init` which just adds time to everything. I think its important we can test that though for any future issues with clusterAPI related work.

[2022-04-06 13:56] #119 closed

[2022-04-06 14:29] Lxrdknows77 commented on #126
Understood. I guess it also will more tricky when you use more than 1 third part Api types.

[2022-04-07 18:07] johnSchnake opened #128 "Improve testing with local kind cluster"
I was iterating on the clusterAPI issues and it was very frustrating to have to wait for kind clusters to start/teardown. We need to make sure that if you want to specify a cluster to use, the tests use it (and dont tear it down).

We have lots of examples that may or may not start/destroy their own clusters too which is a huge waste if they just launch a few objects then destroy everything.

[2022-04-09 12:04] karuppiah7890 opened #130 "Add reference to Golang library reference"
https://pkg.go.dev/sigs.k8s.io/e2e-framework or https://pkg.go.dev/github.com/kubernetes-sigs/e2e-framework

The reference can be added in the readme as a link and also as a badge, like this -

[![godoc](https://pkg.go.dev/badge/github.com/sigs.k8s.io/e2e-framework)](https://pkg.go.dev/sigs.k8s.io/e2e-framework)

The markdown for this is below

[code]

[2022-04-09 12:07] karuppiah7890 commented on #130
cc @ShwethaKumbla @vladimirvivien

[2022-04-13 19:29] helayoty opened #131 "Support Cloud Providers"
As a developer, I want to be able to spin up a managed kubernetes cluster from well-known providers i.e. AKS, ESK, GKE

[2022-04-19 16:09] vladimirvivien commented on #130
Thanks @karuppiah7890 great idea.

[2022-04-19 16:26] vladimirvivien commented on #131
@helayoty thanks for the issue.
The framework offers `EnvFunc` types so that test developers can extend their tests.  Regardless, I agree it would be useful to use `EnvFunc`s to stand up popular providers.  The code could be hosted in `third-party` dir to minimize dependency.

[2022-04-19 16:28] vladimirvivien commented on #128
@johnSchnake
So are you saying the function that starts the Kind cluster should be more flexible to skip startup if it's already up and running. And, also skip teardown unless specified in the test. Would that be a good way to restate this issue ?

[2022-04-19 16:49] vladimirvivien opened #132 "Implement a `kubetest2 tester` for e2e-framework"
This is a marker issue to indicate that this project should have a [Kubetest2](https://github.com/kubernetes-sigs/kubetest2)  tester implemented. Kubetest2 can stand up an environment and/or lunch tests. It has several providers implemented including kind, gce, etc.

Adding a kubetest2 tester would allow this project to delegate environment startup/tear down to kubetest2 and reuse existing provide

[2022-04-19 20:43] diivm opened #133 "[query] support for type `BenchmarkXxx`"
Does/will the framework support functions of the type `func BenchmarkXxx(*testing.B)`?

- For [benchmarks](https://pkg.go.dev/testing#hdr-Benchmarks), we have access to `*testing.B`, whereas the current test function `func (Environment).Test(*testing.T, ...Feature)` requires an argument of the type `*testing.T`

[2022-04-22 08:33] tyxeron commented on #132
This would be super nice. We are currently looking for an end-to-end test framework to test our k8s setup. How far up the road would you guess this feature is? Is there currently a workaround for this?

[2022-04-26 17:34] vladimirvivien commented on #133
@divmadan this is interesting. I would love to hear more about your use case ? I think I understand what you are asking for, but could you show with some mock code? Thanks.

[2022-04-26 17:51] vladimirvivien commented on #132
Hi @tyxeron  there is currently no one immediately working on this. It's mostly a nice to have since the e2e framework provides its own programmatic way of managing test lifecycles including the ability to launch external environments.

Please take a look at the examples for ways of running end-to-end tests using code that can launch kind as part of the test lifecycle. While kind is the only env t

[2022-04-26 17:53] vladimirvivien commented on #131
@helayoty you may be interested in issue #132

[2022-04-27 23:45] divmadan commented on #133
@vladimirvivien I have been writing some table driven tests, and my requirement will be better suited to benchmarks as I don't need a pass/fail result.
Assuming a similar design as tests, they should look like:

<table>

<tr>
<td>

**Test `go test . <flags>`**

</td>
<td>

**Benchmark `go test -bench=. <flags>`**

</td>
</tr>

<tr>
<td>

[code]

</td>
<td>

[code]

</td>
</tr>

</table>

[2022-04-29 13:49] vladimirvivien commented on #133
So @divmadan, what I think you are looking for is a way to express benchmark using the e2e-framework API. I put a sample below how this could work.

[code]

This example shows how this could work using the regular API.  Table support would also be added.

Thoughts?

[2022-04-29 18:37] divm-dev commented on #133
This looks good @vladimirvivien. Since the framework wraps the `testing` module, we'll inherently support all benchmark capabilities similar to tests, right?

What is the scope of the changes required to implement this? I am under the assumption that a similar structure as tests' implementation would work, no specific logic for wrapping benchmarks will be required.

[2022-04-29 18:39] divmadan commented on #133
This looks good @vladimirvivien. Since the framework wraps the `testing` module, we'll inherently support all benchmark capabilities similar to tests, right?

What is the scope of the changes required to implement this? I am under the assumption that a similar structure as tests' implementation would work, no specific logic for wrapping benchmarks will be required.

[2022-05-02 07:10] harshanarayana commented on #97
/remove-lifecycle stale

[2022-05-02 08:57] harshanarayana commented on #128
[code]

Don't we already have a way to check if the `kind` cluster exists and create it only if not present ?  So is the case with teardown right ? We do not cleanup the cluster unless you added that for a finish / teardown step.

[code]
[code]

[code]

Am I missing some context of the original issue ?

[2022-05-02 08:58] harshanarayana commented on #128
[code]

[2022-05-02 17:07] harshanarayana commented on #133
[code]
There are types such as above that have already been defined. A good bit of these needs to be replicated for Benchmark specific case of we replace all `*testing.T` with `*testing.TB` interface and make that generic for both `*testing.T` and `*testing.B`.

From whatever I could see from trying to write up a working prototype quickly, it turned out to be a lot more changes that I thought.

[2022-05-03 09:06] divmadan commented on #133
Can I help with the implementation?

[2022-05-03 17:04] vladimirvivien commented on #133
@harshanarayana Honestly, I didn't even go look in Go's test API to see if this (wrapping and running benchmarks) can be done. As it turns out, type `testing.B` has method `func (b *B) Run(name string, f func(b *B)) bool` (similar to `testing.T`) which can be used to launch benchmarks programmatically.

Nevertheless, if this is to be done, it would require additional API entry points instead of re

[2022-05-03 20:14] vladimirvivien opened #136 "Release version 0.0.7"
This issue is to track the release of version 0.0.7

## Version 0.0.7 features
### Extended Feature test API
The feature test type now supports arbitrary name for all steps allowing for better parsing of test results

[code]

### Fix: Parallel test scoping
This release introduces a fix for a race condition that was causing data overwrites when running feature tests in parallel.

### Testing of cus

[2022-05-04 00:54] harshanarayana commented on #133
@vladimirvivien I agree with you.. May be we start with a simple design proposal.. Document few approaches we have and we see if they are required or can be done in a different way?

[2022-05-13 16:05] #62 closed

[2022-05-17 17:36] #112 closed

[2022-05-17 17:40] vladimirvivien commented on #109
With #135 merging, this should be supported now.

[2022-05-17 17:56] #109 closed

[2022-05-18 19:36] vladimirvivien commented on #114
/remove-lifecycle stale

[2022-05-23 19:20] lyonssp opened #137 "Environment before/after feature hooks are inaccessible"
Both `Environment.BeforeEachFeature` and `Environment.AfterEachFeature` require a developer to pass `FeatureEnvFunc` as arguments.  The problem is that `FeatureEnvFunc` depends on `Feature` which lives under this internal package
```sigs.k8s.io/e2e-framework/pkg/internal/types```.

This doesn't have any impact on other hooks because the developer doesn't directly interact with the internal types,

[2022-05-24 06:10] harshanarayana commented on #137
@lyonssp  I think you missed an externally accessible package named `features`. You can do the following to get access to  `Environment.BeforeEachFeature ` and `Environment.AfterEachFeature`

[code]

[code]

But I do agree that there is a missing example of how to use this. Which should be included.

[2022-05-24 06:12] harshanarayana commented on #137
xref:

https://github.com/kubernetes-sigs/e2e-framework/blob/df2ab4bdfa7f435d5e7b34f8c34b325cc66fc3c4/pkg/features/feature.go#L25-L31

[2022-05-24 14:12] lyonssp commented on #137
Ah, I see.  My mistake, thanks for the clarification!  I will just close this out.

[2022-05-26 01:38] helayoty opened #138 "Start multi clusters during the tests"
Are we able to use the `e2e-framework` to start more than one cluster in the setup?

[2022-05-26 23:38] helayoty commented on #138
I was able to create 2 kind clusters in the `Setup` main_test. How I can switch context between them? @vladimirvivien

[2022-05-27 01:27] vladimirvivien commented on #138
Not sure you can switch context now. But that sounds like it's the ask: ability to switch kind context.

[2022-05-27 02:12] helayoty commented on #138
I'd love if we can have this feature as soon as we can.

[2022-05-28 14:21] vladimirvivien commented on #138
@helayoty can you drop in a code snippet that shows exactly where/how this would be useful. Or, at least elaborate on the user story a bit? That way anyone of us can pick it up and run with an implementation (maybe if I have cycle I can do something with it).  Thanks again for bringing this upl.

[2022-05-30 16:15] ryanemerson commented on #136
When will `0.0.7` be released?

[2022-05-31 12:55] vladimirvivien commented on #136
@ryanemerson 0.0.7 is coming this week. I decide to delay to allow one more feature to land.
Thanks for checking.

[2022-05-31 12:58] vladimirvivien commented on #98
This issue can be closed, feature was implemented in #118 .

[2022-05-31 13:32] vladimirvivien opened #141 "Panic prevents cleanup cycle in `Finish`"
I have a simple test that starts kind  in `Setup` and destroy the cluster in `Finish`.

[code]
However, if there is a panic during test execution, the `Finish` environment functions are not executed.

It would be great if the framework recovered from panics and still execute the `Finish` block.

[2022-06-01 02:14] helayoty commented on #138
@vladimirvivien  Something like

[code]

[2022-06-02 11:44] harshanarayana commented on #141
@vladimirvivien  I like the idea of this. However, can we wrap this in an argument flag to let end users decide if they want this enabled or not? If the `Finish` is tearing down clusters, it might better to let it panic and fail without running the `Finish` handlers. Right ?

[2022-06-02 13:41] ficoos commented on #114
The examples you give are deceptive since you can write structs in a single line and span function calls across multiple lines.
The top example also specifies more information and is more flexible.
It's impossible to reduce the amount of information by moving to a "constructor" model since information density doesn't change.
You just get functions instead of structs. Function that has 5-10 paramet

[2022-06-03 07:22] harshanarayana commented on #141
/assign

[2022-06-03 07:34] harshanarayana commented on #138
This seems doable. But Might need add a few new API to support this with backward compatibility. Especially for things such as `cfg.NewClient()` and `cfg.Client` which can take a context and then use the right kube-config from there. Also some of the current behavior of how the `cfg.NewClient` works needs a bit of tuning. It does a whole lot to optimize creation of new client.

I for sure like the

[2022-06-03 15:47] vladimirvivien commented on #141
@harshanarayana I like your proposed arg name. I appreciate the concern that people may already be dependent on the existing behavior. However, I think it's an error if users rely on panic to skip cleanup. That intent should be done with an argument as you pointed out.

[2022-06-03 16:35] harshanarayana commented on #141
That is how errors become features 😉  That being said, I am fine with the option you suggested. Let me get a PR going. By default it will recover from the panic. And we provide a way to ignore and bypass the finish for whatever reason the user might want to do so

[2022-06-03 17:11] helayoty commented on #138
@harshanarayana I tried to do so but it seems if something went wrong the shutdown/destroy test env is not working correctly.

[2022-06-06 16:56] harshanarayana commented on #138
I think we should start a bit more details Design doc if we really want to tackle this. I tested a few things for quick check and there is a considerable amount of places where this will spread into. Retaining backward compatibility should also be accounted for.

[2022-06-06 17:06] harshanarayana opened #144 "Enh Proposal: Feature Flag support"
## Requirement

There are a good amount of new features that are being discussed in the Issue thread of this repo that needs a detailed design document to be put in place. This made me wonder if there is a need to provide a set of feature flags for this repo that can be enabled/disabled to ensure certain new behaviours are disabled if they are still experimental when running tests on production.

[2022-06-07 22:20] vladimirvivien commented on #138
Maybe solution/design is the following:
* Start 1 or more cluster in env.Setup, each having its respective context
* In assessment, have the ability to set the cluster context like `cfg.WithClusterContext(...).Resources().ClusterOperation(...)`
* Then delete clusters in env.Finish

Essentially, have the ability to set cluster context name and the ability to specify the cluster context during clust

[2022-06-08 04:17] harshanarayana commented on #138
This was the same thing i had in mind.. Let me draft a design and open a PR to discuss further

/assign

[2022-06-08 04:18] harshanarayana commented on #138
/assign

[2022-06-08 08:38] dmvolod opened #146 "Enhancement: Able to get controller-runtime Client from the Resources"
In most of the cases, we need to get and utilize controller-runtime Client internally for the intermediate functions
It would be nice to have a functions GetClient() inside the `klient/k8s/resources/resources.go` to get controller-runtime Client for this case.
Alternatively, we could probably have a helper function in the `klient` package returning Client as
[code]

[2022-06-08 15:36] vladimirvivien commented on #144
@harshanarayana agreed.
I would also suggest looking around other Kubernetes project to get inspiration on their feature management.

[2022-06-09 07:04] dmvolod commented on #146
Hi @vladimirvivien
Thanks for response. Our case is: we have a set of the helpers methods (lookup for default StorageClass, some PVC logic, etc.) in our controllers utilising controller-runtime Client and would like to reutilize part of them inside the e2e-framework tests to reduce the codebase. For example we should skip test if default StorageClass not allows to extend a volume size.

[2022-06-09 17:26] harshanarayana commented on #146
@dmvolod  Is this not what you are looking ?

https://github.com/kubernetes-sigs/e2e-framework/blob/e93ce38fcf9c53e1bd89c0c7a6e8949bd92fbc69/klient/k8s/resources/resources.go#L51-L70

[2022-06-09 17:37] harshanarayana commented on #146
[code]

What you are looking for can be achieved this way too.

[2022-06-09 19:57] dmvolod commented on #146
Thanks, @harshanarayana , I know how to do this, but we have a dozens of functions and don't won't to repeate code of them in the tests instead of just provider one parameter with the cr.Client

[2022-06-10 08:32] harshanarayana commented on #146
I see. So

this is what you are looking for ?

[2022-06-10 09:14] dmvolod commented on #146
Yes, exactly, @harshanarayana , missed your first comment.

[2022-06-13 04:57] #97 closed

[2022-06-13 07:23] ShwethaKumbla commented on #42
/remove-lifecycle stale

[2022-06-13 07:25] ShwethaKumbla commented on #99
/remove-lifecycle stale

[2022-06-13 14:34] tyxeron commented on #25
/reopen I have a similar request. It be nice to have labels on `testing.T` granularity such that the test and associated function calls like `BeforeEachTest` are not executed  when `skip-labels` applies to it

[2022-06-13 19:05] #141 closed

[2022-06-13 19:26] vladimirvivien commented on #146
@dmvolod can you provide a code snippet of what you are doing with the controller-client once you get it? I ask because that can be useful functionality worth adding directly in the framework itself.

How are you using the client to detect StorageClass enabled ? Or is it the fact that you have existing code that you don't want to change and exposing the client would make integration easier ?

[2022-06-13 19:27] vladimirvivien commented on #99
I think this can be closed.

[2022-06-15 18:15] harshanarayana commented on #99
Yes. We should close this one. The `--fail-fast` takes are of the ask from this one.

[2022-06-17 12:15] twpayne opened #150 "Proposal: Flatten package hierarchy"
Firstly, thank you for this software. We're using it to write new end-to-end tests for [Cilium](https://github.com/cilium/cilium).

While the API is not yet finalized (the latest version is 0.0.7 as I'm writing this), would you consider making some changes to the package hierarchy to make this module easier to use and more idiomatic Go?

Currently, the module consists of 13 commonly-used subpackag

[2022-06-23 13:50] twpayne opened #152 "Design question: API for execute in pod functionality"
As part of [Cilium](https://cilium.io/)'s end-to-end tests we need the ability to execute arbitrary commands inside pods. I have code working in a private branch with this function signature:

[code]

Under the hood, this sends a POST request to the pod's `exec` subresource, and upgrades the HTTP connection to SPDY to multiplex stdout and stderr back to the client. After some short setup code, thi

[2022-06-25 13:23] #136 closed

[2022-06-25 14:04] vladimirvivien commented on #150
@twpayne thanks for the proposal.

As with all software endeavors, there are reasons for evolution of a project structure (some organic while others planned). The design is package-first, meaning a package is the entry point to a functionality thus reducing name clashes, i.e. I can do `envconf.New()` to create a new environment conf,  in a flatten package approach it would be `flatpackage.NewConf(

[2022-06-27 14:25] twpayne commented on #150
Thank you for considering this. I do realize that such changes will not be backwards compatible, which is why I propose that this should be done while the project is still young.

For idiomatic Go, there are guidelines on package names [in Effective Go](https://go.dev/doc/effective_go#package-names) and [in Go's Code Review Comments](https://github.com/golang/go/wiki/CodeReviewComments#package-nam

[2022-06-29 09:05] dj-kostya opened #153 "Uninstall method for helm"
Please,  add RunUninstall for helm.

[code]

[2022-06-29 12:55] ShwethaKumbla commented on #153
Thanks @dj-kostya
It has been taken care in this PR https://github.com/kubernetes-sigs/e2e-framework/pull/139

[2022-06-30 16:52] vladimirvivien commented on #103
I think this can be closed. If not, please reopen.

[2022-07-07 02:11] zhixiongdu027 opened #155 "run failed: "extensions/extension.proto" is already registered"
Hi all:
    When I try to run a sample.
    But I am getting the following error and I have not found enough documentation to guide me what to do,
    Can someone teach me, many TKS

[code]

[2022-07-07 14:25] Lxrdknows77 commented on #146
Hi @vladimirvivien

In our kubernetes operator, we use a dedicated struct to provide all parameters to iterate with the k8s cluster. One of these parameters is controller-runtime Client **cr client.Client**:

[code]

And as @dmvolod said before we also have a lot of functions (based on native k8s controller-runtime client functions like Get(), List() etc.).

And also we have a method to validate S

[2022-07-07 15:20] Lxrdknows77 commented on #155
I have the same problem, but only when I created a new package with the e2e test in a separate folder. But my previous e2e test package still works.

[2022-07-07 15:22] Lxrdknows77 commented on #155
@zhixiongdu027 Do use use go vendor?

[2022-07-07 17:12] vladimirvivien commented on #104
@helayoty can this be closed?

[2022-07-07 17:15] vladimirvivien commented on #146
I think this is a good suggestion and exposing the controller-runtime client does not break the current API.

[2022-07-08 07:35] harshanarayana commented on #146
/assign

[2022-07-08 07:37] harshanarayana commented on #146
@vladimirvivien  @Lxrdknows77 @dmvolod  I have a draft PR with two ways of fetching the controller runtime client. TPAL when time permits.

[2022-07-08 08:47] harshanarayana commented on #146
@Lxrdknows77 Yes and also lets you inject your own custom `runtime.Scheme` for any uses that might arise.

[2022-07-08 15:32] harshanarayana commented on #150
@vladimirvivien  @twpayne

I took this as a request and went ahead and did a draft refactoring account for both of your suggestions and a few changes of my own that I think might be useful down the line.

https://github.com/harshanarayana/e2e-framework/tree/feature/GIT-150/code-reorg

I took inspiration from `k/k` 's `test/e2e/framework` to restructure some of these and added a few additional pack

[2022-07-08 17:08] harshanarayana commented on #138
@helayoty  @vladimirvivien  This was always possible without actually adding a new API. Turns out there was a small change required to get it working. I am opening a draft PR with the example of how to run multi kind cluster test with the small change required to get it working. Let me know what you think about it. Do we still need to add a new API or document the current one ? I am kind of inclin

[2022-07-08 22:12] vladimirvivien commented on #150
Thanks @harshanarayana will review shortly.

[2022-07-21 11:14] vladimirvivien commented on #155
@zhixiongdu027 let us know if that fix worked for you.

[2022-07-22 01:29] zhixiongdu027 commented on #155
1:  I created a new package with the e2e test in a separate folder.
2:  copy  [e2e-framework/go.mod](https://github.com/kubernetes-sigs/e2e-framework/blob/main/go.mod) to my folder.
3:  exec go mod tidy
4:  go build  and it work

[2022-07-24 12:37] #155 closed

[2022-07-29 07:43] tyxeron opened #158 "Enhancement: Add ability to filter tests by Label"
It would be nice to have labels on testing.T granularity such that the test and associated function calls like BeforeEachTest are not executed when skip-labels applies to it. We have some tests that either should be run or not depending on a label. Our work-around for now is to add labels to all the features in a test.

[2022-08-02 16:19] harshanarayana commented on #133
/remove-lifecycle stale

[2022-08-03 15:14] vladimirvivien commented on #132
/remove-lifecycle stale

[2022-08-03 15:15] vladimirvivien commented on #131
/remove-lifecycle stale

[2022-08-03 15:18] vladimirvivien commented on #128
I think this can be closed. Please re-open if needed.

[2022-08-03 15:18] #128 closed

[2022-08-12 09:00] twpayne commented on #150
I won't be working on e2e-framework going forward, so feel free to close this issue.

[2022-08-14 23:12] #150 closed

[2022-08-16 12:13] #152 closed

[2022-08-17 20:26] vladimirvivien commented on #130
/remove-lifecycle rotten

[2022-08-26 02:00] #104 closed

[2022-08-26 02:00] helayoty commented on #131
@vladimirvivien fyi https://github.com/kubernetes-sigs/cloud-provider-azure/pull/2163

[2022-08-30 23:33] vladimirvivien commented on #131
Sweet! @helayoty .
We should revisit this soon to show how easy it is to drive kubetest2 providers from e2e-framework tests.

[2022-08-31 02:20] vladimirvivien commented on #132
See https://github.com/kubernetes-sigs/kubetest2/pull/218

[2022-08-31 19:37] #138 closed

[2022-08-31 19:37] #130 closed

[2022-09-06 16:26] harshanarayana commented on #144
/remove-lifecycle stale

[2022-09-07 17:05] mhofstetter opened #159 "build: make verify fails due to golangci-lint SA1019: package io/ioutil is deprecated"
Executing `make verify` fails due to golangci-lint SA1019: package io/ioutil is deprecated

[code]

[2022-09-07 18:34] mhofstetter opened #161 "Wrong log output when failing during BeforeEachFeature, AfterEachFeature & AfterEachTest"
**Current log output**

Errors during test / feature setup & cleanup functions are always reported as an error during`BeforeEachTest`.

* Error during `BeforeEachTest` -> `BeforeEachTest failure: xxx`
* Error during `BeforeEachFeature` -> `BeforeEachTest failure: xxx`
* Error during `AfterEachFeature` -> `BeforeEachTest failure: xxx`
* Error during `AfterEachTest` -> `BeforeEachTest failure: xxx`

[2022-09-13 05:08] harshanarayana commented on #161
@mhofstetter Thanks for this report. This was a mistake that got introduced in one of my old changes. Thanks for the PR to correct this.

[2022-09-14 17:11] #159 closed

[2022-09-14 19:39] vladimirvivien commented on #114
/remove-lifecycle stale

[2022-09-22 13:45] vladimirvivien opened #164 "Add dependabot to automatically update dependencies"
Explore how to setup dependabot for automatic updates of
* client-go
* controller-runtime

[2022-09-26 20:10] #161 closed

[2022-09-27 16:49] cpanato commented on #153
this is completed

[2022-10-06 09:16] Lxrdknows77 commented on #146
@harshanarayana Will you fix it or I can recreate PR?

[2022-10-06 15:01] harshanarayana commented on #146
@Lxrdknows77  Sorry, this one totally skipped my list of TODO items. Please feel free to recreate the PR. If you can wait until end of the week, I will have the PR ready

[2022-10-20 16:00] vladimirvivien opened #165 "Release version 0.0.8"
Although a bit delayed, this release issue is to track the latest release for the project. This release include example and doc updates, fixes, and new features.

## Handlers to gracefully finish tests
A new feature was introduce to allow tests to gracefully recover, after a runtime panic, and execute the test environment's `Finish` step. If a test writer would rather have tests abruptly end, that

[2022-10-20 16:17] vladimirvivien commented on #165
v0.0.8 released.

[2022-10-20 16:17] #165 closed

[2022-10-31 19:52] vladimirvivien commented on #133
/remove-lifecycle stale

[2022-11-07 14:51] vladimirvivien commented on #146
/remove-lifecycle rotten

[2022-11-07 14:51] vladimirvivien commented on #146
@harshanarayana Have you gotten a chance to finalize this so we can merge?

[2022-11-09 14:51] harshanarayana commented on #146
@vladimirvivien  I have already update the PR https://github.com/kubernetes-sigs/e2e-framework/pull/156 with some of the comments addressed.

[2022-11-09 15:44] #146 closed

[2022-11-10 08:41] #42 closed

[2022-11-10 15:29] vladimirvivien commented on #158
Hi @tyxeron can you provide more detail on this?
As you mentioned, you can already specify labels at as a flag which will do some filtering.
It sounds like you are saying that the `BeforeEach` should also be skipped when the label is applied ?

[2022-11-10 15:29] vladimirvivien commented on #153
Closing due to #139

[2022-11-10 15:29] #153 closed

[2022-11-10 15:30] vladimirvivien commented on #158
/remove-lifecycle stale

[2022-11-23 15:04] vladimirvivien commented on #158
@tyxeron Ok thank you for clarifying about the BeforeEachTest step being included as part of the filter. As far as omitting a label for a feature, right now you do have to provide a name. You could, however, try the test table approach and omit the name to see if it works (see example here https://github.com/kubernetes-sigs/e2e-framework/blob/main/examples/table/table_test.go)

[2022-11-29 16:56] vladimirvivien commented on #132
/remove-lifecycle stale